<html class="login">
<form action="/login" method='get'>
  <div style="text-align:center; padding-top: 40px; font-size:20px; color: #0a0316 ">
    <span style="margin-left:1em"; ></span><input type="submit" value="Logon"><span> to gamble</span>

  </div>
</form>


<div style="text-align:center; font-size:20px; color: #0a0316 ">
  <form method="get" action="/signup">
     <span style="margin-left:4em"; ></span> <input type="submit" value="Sign Up"> <span>   to create account</span>

  </form>
</div>

</html>
