<html>
  <head>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title-bg" style="text-align:center;">
      <h1>Gambling Site</h1>
      <h2 style="font-size:20px; color:#0a0316; font-weight:bold; font-style:italic">Welcome to the gambling site </h2>
    </div>

    <%= yield %>
  </body>
</html>
